.container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.square{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: bisque;
}

#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}